.overview-section-content.row.section-content#overview
    h2.section-title= 'Project Overview'
    .section-text.col-sm-6
        p= 'Our team presents the high-fidelity prototype of iOS application for our stakeholder, FemTechNet, which is the organization for the feminists in the US.This annotated portfolio shows the process of design through research from the ethnography interviews, finding problems, design research and possible solutions with prototypes.'
        p= 'This design process shows the first three months of a year-long senior capstone project in Interactive Media Design in University of Washington.'
    .section-diagram.col-sm-6
        .row
            .overview-item.col-sm-6.text-center
                img(src=icon1)
                p.font-weight-bold= 'Role'
                p= 'Interaction Designer'
                p= 'Design Researcher'
            .overview-item.col-sm-6.text-center
                img(src=icon2)
                p.font-weight-bold= 'Type'
                p= 'iOS Mobile Application'
        .row
            .overview-item.col-sm-6.text-center
                img(src=icon3)
                p.font-weight-bold= 'Responsibilities'
                p= 'Defining problems and users'
                p= 'Wireframing'
                p= 'User Interface Design'
                p= 'Prototyping'
            .overview-item.col-sm-6.text-center
                img(src=icon4)
                p.font-weight-bold= 'Duration'
                p= '10 weeks'