.overview-section-content.row.section-content#overview
    h2.section-title= 'Project Overview'
    .section-text.col-sm-6
        p= 'Unify team presents the high-fidelity prototype of the iOS application for FemTechNet users. FemTechNet is made up of a feminist network of activists, scholars, and artists who want to create feminist innovations and technologies. This annotated portfolio show the process of the application design through research from the ethnography interview, defining problems, research through design, and possible solutions with different types of prototypes. The members of Unify team are gathered as a team with similar interests, which include feminism and activism for women in technology field.'
    .section-diagram.diagram-container.col-sm-6
        .row
            .overview-item.col-sm-6.text-center
                img(src=icon1)
                p.font-weight-bold= 'Role'
                p= 'Interaction Designer'
                p= 'Design Researcher'
            .overview-item.col-sm-6.text-center
                img(src=icon2)
                p.font-weight-bold= 'Type'
                p= 'iOS Mobile Application'
        .row
            .overview-item.col-sm-6.text-center
                img(src=icon3)
                p.font-weight-bold= 'Responsibilities'
                p= 'Defining problems and users'
                p= 'Wireframing'
                p= 'User Interface Design'
                p= 'Prototyping'
            .overview-item.col-sm-6.text-center
                img(src=icon4)
                p.font-weight-bold= 'Duration'
                p= '10 weeks'