.problem-section-content.row.section-content#problem
     h2.section-title= 'Finding Problems'
     .section-text
        p= 'The design research for an iOS application started with ethnographic interviews with stakeholders from FemTechNet. Based on the information from the interviews, our team narrowed down the main problems into two issues: having too many different communication platforms and difficulties of maintaining the long-term involvement of students in the network. For instance, the complexity of having too many different communication platforms has driven some members out from the community. In addition, some students’ networks are hard to maintain the long-term involvement as students tend to lose the connections and sense of belonging to FemTechNet.'
     .interview
        .col-sm-7.problems-diagram.diagram-container
            .row
                .col-sm-6.diagram.text-center
                    img(src=icon1)
                    p= 'The complexity from'
                    p= 'having too many'
                    p= 'online communication services'
                .col-sm-6.diagram.text-center
                    img(src=icon2)
                    p= 'Losing connections'
                    p= 'and networks'
                    p= 'among members'
            .row.text-center
                h3= '<Problems>'
        .col-sm-5.word-cloud
            img(src=wordCloud)
