.workCited-section-content.container#work-cited
.col-sm-12
    h2= 'Work cited'
.row
    p= 'Agloro, Alexandrina. Stakeholder Reviewing the Interactive Prototypes Savannah Schuchardt, et al. 27 November 2017.'
    p= 'Barbara, Andrews, et al. "Teaching Participatory Design." PDC \'14 Companion (2014): 203-204. Bardzell, Shaowen. "Feminist HCI: Taking Stock and Outlining an Agenda for Design." CHI 2010 (2010): 1301-1310.'
    p= 'Howley, Iris and Todd Newman. "Factors Impacting Community Response in an Interest-Sharing Network." CHI 2013: Changing Perspectives. Paris: ACM, 2013.'
    p= 'Keating, Cricket. Stakeholder Reviewing the Interactive Prototypes Savannah Schuchardt, et al. 4 December 2017.'
    p= 'Chang, Yenning, Younkyung Lim and Erik Stolterman. "Personas: From Theory to Practices." NordiCHI (2009).'
    p= 'Ehrlich, Kate, Ido Guy and Inbal Ronen. "What Motivates Members to Contribute to Enterprise Online Communities?" CSCW (2014).'
    p= 'Lab, IBM Haifa Research. "Do You Want to Know? Recommending Strangers in the Enterprise." (2011).'
    p= 'Krebs, Valdis and June Holley. "Building Smart Communities through Network Weaving." 2006. Orgnet. 15 10 2017.'
    p= 'Krebs, Valdis. "Communities of Connections." 30th August 2016. The Network Thinkers. 15 October 2017.'
    p= 'Martin, Bella and Bruce Hanington. Universal Methods of Design. Beverly: Rockport Publishers, 2012.'
    p= 'Zimmerman, John, Jodi Forlizzi and Shelley Evenson. "Research Through Design as a Method forInteraction Design Research in HCI." (2007): 11.'
