.reflection-section-content.container#reflection
    .col-sm-12
        h2= 'reflection'
    .row= 'This project, as a senior capstone project, had a great start with wonderful team members. Each member has clear strength on the certain activity, but we had tried not to define the role with someone to develop more various skillsets including leadership, coding, visual design, video editing, presenting, etc. I have learned a lot from each of my team member. Like all other groups do, we also have a serious and important topic and the application can be a powerful tool in many people\'s lives. In our case, everyone who want to share information of women in/and technology can be the future users regardless of their races, abilities, sexualities, and gender. I believe design should not hurt people because of their races, abilities, sexualities, and gender. Therefore, I wish me, and my wonderful team members can create that design with our application.'
    .row
        h3= 'Plan for the Next Quarter'
    .row
        h3= 'Theoretical study'
        p= 'The team should have time to study feminism in depth and learn how to use feminism as an ally to our interactive design. In the article “Feminist HCI: Taking Stock and Outlining an Agenda for Design” the author introduces how feminism can be a critical tactic for interaction design by saying “I stress the potential for feminism to contribute to an action based design agenda. That is, feminist approaches can integrate seamlessly and productively in all stages of the design process, including user research, prototyping, and evaluation” (Bardzell 1302). This is not only a great point of thinking feminism with design research but also the key theory that fulfills the needs of our stakeholders. With these lessons, the team also should recalibrate the project to better embody the other theories from the interviews including feminist theory, activism, and participatory pedagogy while considering the technical solutions.'
    .row
        h3= 'Technology'
        ul
            li= 'Backend with database'
                li= 'MEAN stack'
            li= 'Furter iOS programming'
            li= 'Matching user profile, Machine Learning, Chatbot system'
