.solution-section-content.container#solution
    .col-sm-12
        h2= 'solution'
    h3= 'Solution 1: Focusing on "Integraing communication services to reduce the complexity"'
    .row
        .col-sm-8.prototype-paper
            img(src=paperProtoPic)
            p= '<Solution 1: The paper prototype showing the micro view of the sign-up process>'
            p= 'With this solution, the team has tried to solve the one of the main problems that is related to organizational internal tasks. By integrating the all the communication platforms, the stakeholder\'s using, the design tried to resolve the difficulties and complexity of communication.'
        .col-sm-4.prototype-team
            iframe(width='438' height='930' src='https://invis.io/AXENDS2FS' frameborder='0' allowfullscreen)
    h3= 'Feedback from the second interviews'
    p= 'We had 2nd interview with our both stakeholders to test the wireframe of the first solution.'
    table.table
        tr
            th= 'Cricket Keeting'
            th= 'Alex Agloro'
        tr
            td
                p= 'Recommended channels: "Race, gender and tech", "Social justice and tech"'
                p= 'Recommended category: "Activism"'
                p= '" FemTechNet app could be translated to other of these like connected classroom. Not only formal classroom but also informal ones… connect all different type of learning experiences. So, people that don\'t have access to university education can join the learning environment. Connects across those learning situations with the app, not always be for just FemTechNet" (Keating).'
            td
                ul= 'Recommended features:'
                    li= 'How to know or how to learn FemTechNet in the beginning'
                    li= 'How to link up and be part of FemTechNet'
                    li= 'Schedule/calendar features'
                    li= 'Interest-sharing feature'
                    li= 'Secured encrypted messages against online violence'
                p= '"The way that we would actually use this app is if it was actually it wasn\'t an aggregator, but it was a replacement"(Agloro)'
    .row
        .col-sm-6
            iframe(width='560' height='315' src='https://www.youtube.com/embed/tPNdHYoMQB4' frameborder='0' gesture='media' allow='encrypted-media' allowfullscreen)
        .col-sm-6
            iframe(width='560' height='315' src='https://www.youtube.com/embed/QeDbs319OmE' frameborder='0' gesture='media' allow='encrypted-media' allowfullscreen)
    h3= 'Solution 2: Focusing on "Creating connections without having the central hub (Decentralized network)"'
    .row
        .col-sm-5.prototype-kate
            iframe(width="438" height="930" src="https://invis.io/BMENJHG5C" frameborder="0" allowfullscreen)
        .col-sm-7.prototype-paper-community
            img(src=paperProtoPicCom)
            p= 'This prototype has a priority on making stronger networks among members by matching users’ similar interests and profiles. So that each member and group have their own networks to other members and groups without passing the center hub of the community.'
            p= 'The key features of using these data are in the community section. After the user signs up the application, they will see these suggestions that are sorted by their interests and profiles. Once they join in several communities, now they can see the list of their groups. Also, they can see the list of friends on the friend\'s tab. Not only that, they can also see a list of people who have similar interests. They can initiate the chat group (or channel) and can invite these people who have similar interests and passions on the topic.'
