.solution-section-content.container#solution
    .col-sm-12
        h2= 'solution'
    .row 
        h3= 'Solution 1: Focusing on "Integraing communication services to reduce the complexity"'
    .row
        .col-sm-8.prototype-paper
            img(src=paperProtoPic)
            p = 'asdfffasdgasdaweasdfasdfad'
        .col-sm-4.prototype-team
            iframe(width='438' height='930' src='https://invis.io/AXENDS2FS' frameborder='0' allowfullscreen)
    .row
        h3= 'Solution 2: Focusing on "Creating connections without having the central hub (Decentralized network)"'
    .row
        .col-sm-4.prototype-kate
            iframe(width="438" height="930" src="https://invis.io/BMENJHG5C" frameborder="0" allowfullscreen)
        .col-sm-8.prototype-paper-community
            img(src=paperProtoPicCom)
    //.high-fidelity-prototype.container
        //- video(controls loop autoplay)
        //-     source(src='http://katesohng.com/unify/signup-process.webm' type='video/webm' codecs='vp8')
